:root {
  // custom
  --agl-primary-color-dark-50: #d4e5ff;
  --agl-primary-color-dark-100: #cbdfff;
  --agl-primary-color-dark-200: #c3daff;
  --agl-primary-color-dark-300: #bad5ff;
  --agl-primary-color-dark-400: #b1cfff;
  --agl-primary-color-dark-500: #a9caff;
  --agl-primary-color-dark-600: #92afde;
  --agl-primary-color-dark-700: #7c95be;
  --agl-primary-color-dark-800: #677c9e;
  --agl-primary-color-dark-900: #536480;
  --agl-primary-color-light-50: #90bbff;
  --agl-primary-color-light-100: #7aadff;
  --agl-primary-color-light-200: #639eff;
  --agl-primary-color-light-300: #4d8fff;
  --agl-primary-color-light-400: #347fff;
  --agl-primary-color-light-500: #146eff;
  --agl-primary-color-light-600: #105fde;
  --agl-primary-color-light-700: #0c50be;
  --agl-primary-color-light-800: #08419e;
  --agl-primary-color-light-900: #053380;

  // overrides - light theme
  --ifm-color-primary: var(--agl-primary-color-light-500);
  --ifm-color-primary-dark: var(--agl-primary-color-light-600);
  --ifm-color-primary-darker: var(--agl-primary-color-light-700);
  --ifm-color-primary-darkest: var(--agl-primary-color-light-800);
  --ifm-color-primary-light: var(--agl-primary-color-light-400);
  --ifm-color-primary-lighter: var(--agl-primary-color-light-300);
  --ifm-color-primary-lightest: var(--agl-primary-color-light-200);
}

[data-theme='dark'] {
  // overrides - dark theme
  --ifm-color-primary: var(--agl-primary-color-dark-500);
  --ifm-color-primary-dark: var(--agl-primary-color-dark-600);
  --ifm-color-primary-darker: var(--agl-primary-color-dark-700);
  --ifm-color-primary-darkest: var(--agl-primary-color-dark-800);
  --ifm-color-primary-light: var(--agl-primary-color-dark-400);
  --ifm-color-primary-lighter: var(--agl-primary-color-dark-300);
  --ifm-color-primary-lightest: var(--agl-primary-color-dark-200);
}
